body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #131516;
  color: #d8d4cf;
}
.main-title {
  line-height: 2px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.result,
.highlight {
  font-weight: bold;
}

.result {
  font-size: 1.2em;
  margin: 20px 0;
}

.highlight {
  color: #e53e3e;
}

.screentime,
.calculate {
  background-color: #131516;
  color: #d8d4cf;
}
